MD_TOKEN = "<motherduck token>"
STARLING_TOKEN = "<starling token>"
ACCOUNT_UUID = "<starling account uuid>"
#optional
EMAIL = "<email address>"
DOMAIN = "<domain name>"
CADDY_USERNAME="<username>"
CADDY_PASSWORD_HASH="<hash created at step >"